.heading{
    font-family: Arial, Helvetica, sans-serif;
}

.a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.a1{
    font-style: italic;
}
.a2{
    font-weight:bolder ;
}
.a3{
    text-decoration:underline;
}

/* fonts  */




.newHead{
color:red;
}
.newA{
font-family: "Momo Signature", cursive;
color: blue;



}
